@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

aside h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-weight: 500;
    line-height: 75px;
}

aside h1 span {
    color: #FF5678;
}

img {
    width: 900px;
}